<!-- Modal Structure -->
<div id="editUserModal" class="modal override-modal">
  <form class="formValidate" id="editUserForm">
  <div class="modal-content">
    <h4>Edit User</h4>
      <div class="row">
        <div class="input-field col s6">
          <label for="euname">Username *</label>
          <input class="input-data" id="euname" name="username" type="text" data-error=".error-username">
          <div class="error-username"></div>
        </div>
        <div class="input-field col s6">
          <label for="ecemail">E-Mail *</label>
          <input class="input-data" id="ecemail" type="email" name="email" data-error=".error-email">
          <div class="error-email"></div>
        </div>
        <div class="input-field col s12">
          <label for="ecname">Name</label>
          <input class="input-data" id="ecname" type="text" name="name" data-error=".error-name">
          <div class="error-name"></div>
        </div>
        <div class="input-field col s12">
          <label for="epassword">New Password *</label>
          <input class="input-data" id="epassword" type="password" name="password" data-error=".error-password">
          <div class="error-password"></div>
        </div>
        <div class="input-field col s12">
          <label for="ecpassword">Confirm New Password *</label>
          <input class="input-data" id="ecpassword" type="password" name="cpassword" data-error=".error-cpassword">
          <div class="error-cpassword"></div>
        </div>
        <div class="col s12">
          <label for="ecrole">Role *</label>
          <select class="error browser-default input-data" id="ecrole" name="user_role" data-error=".error-role">
            <option disabled selected>Choose your profile</option>
            <option value="1">Admin</option>
            <option value="20">Member</option>
          </select>
          <div class="input-field">
            <div class="error-role"></div>
          </div>
        </div>
        <div class="col s12">
          <label for="ecrole">Branch *</label>
          <select class="error browser-default input-data" id="ecbranch" name="branch_id" data-error=".error-branch">
            <option disabled selected>Choose your branch</option>
            <option value="1">DBM-Bacolod</option>
            <option value="2">DBM-Sagay</option>
          </select>
          <div class="input-field">
            <div class="error-branch"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-green btn-flat" type="reset">Reset</button>
    <button class="waves-effect waves-green btn-flat" type="submit">Submit</button>
  </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    const editUserForm = $("#editUserForm")
    const editUserModal = $('#editUserModal.modal').modal({
      dismissible: true,
      onCloseEnd: function(){
        editUserForm.find('button[type="reset"]').click();
      }
    });
    editUserForm.validate({
      rules: {
        username: {
            required: true,
            minlength: 5
        },
        name: {
            required: true,
            minlength: 5
        },
        enaml: {
            required: true,
            minlength: 5
        },
        role: {
            required: true
        },
        branch_id:{
            required: true
        },
      },
      messages: {
        username:{
          required: "Enter a username",
          minlength: "Enter at least 5 characters"
        },
        email:{
          required: "Enter an email",
          minlength: "Enter at least 5 characters"
        },
        name:{
          required: "Enter a name",
          minlength: "Enter at least 5 characters"
        },
        role: {
            required: "Select a role",
        },
        branch_id: {
            required: "Select branch",
        }
      },
      errorClass: "invalid",
      errorPlacement: function(error, element) {
        var placement = $(element).data('error');
          if (placement) {
            $(placement).html(error);
          } else {
            error.insertAfter(element);
          }
      },
      submitHandler:  function(){
        localAddUserData = async function (data){
          const query = await request.post({url: '/api/admin/editUser', body:data});
          if(query && query.status){
            toaster.success(query.message);
          }else{
            toaster.error(query.message);
          }
        }
        const input = {};
        editUserModal.find('.input-data').each(function(){
          const local = $(this);
          const name = local.attr('name');
          const value = local.val();
          if(name){
            if(name !== 'cpassword' && value){
              input[name] = value;
            }
          }
        });
        if(input && Object.keys(input).length){
          //localAddUserData(input);
          console.log(input);
        }
      }
    })
  })
</script>