<div class="navbar navbar-fixed"> 
  <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark {theme_navebar_color_top}">
    <div class="nav-wrapper">
      <div class="container">
        <div class="row">
          <ul class="navbar-list left col s12 ">
            <li>
              <a class="waves-effect waves-block waves-light" href="/">
                Home
              </a>
            </li>
            <li>
              <a class="waves-effect waves-block waves-light" href="landholding">
                Landholdings
              </a>
            </li>
            <li>
              <a class="waves-effect waves-block waves-light" href="/organization">
                Organization
              </a>
            </li>
            <li>
              <a class="waves-effect waves-block waves-light" href="javascript:void(0);">
                About
              </a>
            </li>
            <li>
              <a class="waves-effect waves-block waves-light" href="/login">
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>