<div class="row">
    <div class="col s12 m12 l12">
      <div id="basic-tabs" class="card card card-default scrollspy">
        <div class="card-content pt-5 pr-5 pb-5 pl-5">
          <div id="invoice">
            <div class="invoice-header">
              <div class="row section">
                <div class="col s12 m6 l6">
                  <p>{data_landholdings_name}</p>
                  <p>{data_landholdings_address}</p>
                </div>
              </div>
              <div class="row section">
                <div class="col s12 m6 l6">
                  <h6 class="text-uppercase strong mb-2 mt-5">Details</h6>
                  <p class="text-uppercase">Owner: {data_landowner_name}</p>
                  <p>Address: {data_landholdings_address}</p>
                  <p>Title No.: {data_title_number}</p>
                  <p>Lot No.: {data_lot_number}</p>
                  <p>Lot Area: {data_lot_area}</p>
                </div>
              </div>
            </div>
            <div class="invoice-table">
              <div class="row">
                <div class="col s12 m12 l12">
                  
                </div>
              </div>
            </div>
            <div class="invoice-footer mt-6">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>